<h1 class='new-class'>Blog List</h1>
<ul ng-if='items.length > 0'>
  <li ng-repeat='post in items'>
    <a href='#' confirm-click="Fuck you" confirmed-click='goToItem(post)' >{{ post.title }}</a>
    <!-- <a href='#' ng-click='goToItem(post)' >{{ post.title }}</a> -->
    <!--ng-href='/blog/{{ item.id }}'  <confirm-click message="Fuck you" post='item' confirm-click='Fuck you' confirmed-click='/blog/{{ item.id }}'></confirm-click> -->
  </li>
</ul>

<span ng-if='items.length != 0'>{{ items.length }} items currently</span>
<span ng-if='items.length == 0'>content coming soon</span>
